<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ratings</title>
  <link rel="stylesheet" href="/find.css" />
  <script src="/findScript.js" defer></script>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-logo">
      <img src="https://peopledevelopmentmagazine.com/wp-content/uploads/2021/04/Four-External-Resources-Every-Business-Should-Consider-Using-People-Development-Magazine.jpg" alt="Just a Place HOLDERRR" />
    </div>
    <div class="nav-links">
      <!-- Link to the route for home -->
      <a href="/">Home</a>
      <!-- Link to the route for ratings and comments -->
      <a href="/posts">Comments</a>
    </div>
  </nav>

  
  <div class="container">
    <h1>Resources and Info</h1>



    </div>
</body>
</html>
