<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ratings</title>
  <link rel="stylesheet" href="/post.css" />
  <script src="/postScript.js" defer></script>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-logo">
      <img src="https://t3.ftcdn.net/jpg/03/06/93/36/360_F_306933634_wmKmk9AFgL1r7tMYgKbJYnRE9vGAovTa.jpg" alt="Just a Place HOLDERRR" />
    </div>
    <div class="nav-links">
      <!-- Link to the route for home -->
      <a href="/"> Home</a>
      <!-- Link to the route for ratings and comments -->
      <a href="/resources">Resources and Info</a>
    </div>
  </nav>

  
  <div class="container">
    <h1> Comments and Posts</h1>



    </div>
</body>
</html>
